.footer {
    background-color: $black;
    padding: 41px 0 24px;
    text-align: center;
    border-radius: 16px 16px 0 0;

    @media(min-width: $break_sm) {
        padding: 78px 0 32px;
    }

    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;

        .section-title {
            margin: 0 0 17px;

            @media(min-width: $break_sm) {
                margin: 0 0 21px;
            }
        }
    }

    &__logo {
        color: $white;
        font-size: 18px;
        font-weight: 600;
        margin: 0 0 25px;

        @media(min-width: $break_sm) {
            font-size: 21px;
            margin: 0 0 38px;
        }

        @media(min-width: $break_md) {
            font-size: 24px;
        }

        img {
            width: auto;
            height: auto;
            max-width: 80%;
        }
    }

    &__menu {
        display: flex;
        flex-direction: column;
        gap: 18px;
        list-style: none;
        padding: 0;
        margin: 0 0 24px;

        @media(min-width: $break_sm) {
            flex-direction: row;
            gap: 36px;
            margin: 0 0 18px;
        }

        li {

           a {
               display: flex;
               align-items: center;
               color: $white;
               font-size: 13px;
               font-weight: 300;
               transition: color 0.15s ease-in;

               @media(min-width: $break_sm) {
                   font-size: 15px;
               }

               &::after {
                   content: "";
                   background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='8' cy='8' r='8' fill='%2330D065'/%3E%3Cg clip-path='url(%23clip0_108_2)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.81504 5.44731C7.96744 5.29491 8.21453 5.29491 8.36693 5.44731L10.6433 7.72373C10.7165 7.79691 10.7576 7.89617 10.7576 7.99967C10.7576 8.10317 10.7165 8.20243 10.6433 8.27562L8.36693 10.552C8.21453 10.7044 7.96744 10.7044 7.81504 10.552C7.66264 10.3996 7.66264 10.1526 7.81504 10.0002L9.42527 8.38992H5.81456C5.59903 8.38992 5.42432 8.2152 5.42432 7.99967C5.42432 7.78415 5.59903 7.60943 5.81456 7.60943H9.42527L7.81504 5.9992C7.66264 5.8468 7.66264 5.59971 7.81504 5.44731Z' fill='%23282828'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_108_2'%3E%3Crect width='5.81818' height='5.81818' fill='white' transform='translate(5.09082 5.09082)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
                   display: inline-block;
                   width: 16px;
                   height: 16px;
                   margin-left: 8px;
                   vertical-align: middle;
               }

               .desktop-device & {
                   &:hover {
                       color: $primary;
                   }
               }
           }
        }
    }

    &__copy {
        color: $gray_3;
        font-size: 13px;

        @media(min-width: $break_sm) {
            font-size: 15px;
        }
    }
}
