.hero-home {
    width: 100%;
    background-color: #faf1e8;
    position: relative;

    &__body {
        width: 100%;
    }

    &__left {
        width: 58%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 14% 0 56px;

        > .section-title {
            margin: 0 0 60px;
        }
    }

    &__mid {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        margin: 0 0 6.8vw;

        @media(min-width: 1440px) {
            margin: 0 0 128px;
        }

        .sub-title {
            text-align: center;
            max-width: 400px;
            margin: 0 auto;
        }
    }

    &__pre-bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        margin: 0 0 40px;
    }

    &__bottom {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 16px;
    }

    &__img {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
    	width: 39%;
        height: 100%;

    	img {
    		width: 100%;
    		height: 100%;
            object-fit: cover;
    	}
    }

    .container {
        position: initial;
    }
}

.formula-block {

    &__top {
        margin: 0 0 32px;

        span {
            display: block;
        }
    }

    &__pic {
        display: block;
    	width: 100%;
    	position: relative;
    	height: 0;
    	padding-bottom: 612px;
        animation: spin 180s linear infinite;
        animation-delay: 1s;

    	svg {
    		position: absolute;
    		top: 0;
    		left: 0;
    		z-index: 1;
    		width: 100%;
    		height: 100%;
    	}
    }

    &__body {
        display: grid;
        align-items: flex-start;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 16px;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: flex-start;
        grid-gap: 12px;
        padding: 26px 0 0;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.formula-item {
    display: flex;
    min-height:  274px;
    height: 100%;
    position: relative;

    &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        border-radius: 16px;
        box-shadow: 0 16px 32px rgba(#2b221a, 0.18);
        opacity: 0;
        transition: opacity 0.15s ease-in;
    }

    &__body {
        display: flex;
        flex-direction: column;
        border: 1px solid transparent;
        border-radius: 16px;
        padding: 0 7px 4px 12px;
        position: relative;
        z-index: 2;
    }

    &__icon {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        padding: 0 0 8px;
        width: 56px;
        height: 64px;
        border-radius: 0 0 8px 8px;
        margin: 0 0 9px;

        img {
            width: 40px;
            height: 40px;
        }
    }

    .simple-text {
        transition: color 0.15s ease-in;
    }

    .sub-title {
        margin: 0 0 10px;
        min-height: 62px;
    }

    &:hover {

        &::after {
            opacity: 1;
        }

        .simple-text {
            color: $black;
        }
    }

    &--yellow {

        .formula-item {

            &__body {
                border-color: $yellow;
            }

            &__icon {
                background-color: $yellow;
            }
        }

    }

    &--green {

        .formula-item {

            &__body {
                border-color: #30d065;
            }

            &__icon {
                background-color: #30d065;
            }
        }

    }

    &--red {

        .formula-item {

            &__body {
                border-color: #f17072;
            }

            &__icon {
                background-color: #f17072;
            }
        }

    }

    &--purple {

        .formula-item {

            &__body {
                border-color: #969eff;
            }

            &__icon {
                background-color: #969eff;
            }
        }

    }

    &--orange {

        .formula-item {

            &__body {
                border-color: #f49c5d;
            }

            &__icon {
                background-color: #f49c5d;
            }
        }

    }

    &--blue {

        .formula-item {

            &__body {
                border-color: #50a3e9;
            }

            &__icon {
                background-color: #50a3e9;
            }
        }

    }
}

.board-count {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 12px;
    width: 100%;
    border-radius: 16px;
    background-color: #fffdfb;
    padding: 25px 12px;

    &--purple {
        .section-title {
            color: $primary;
        }
    }

    &--orange {
        .section-title {
            color: $orange;
        }
    }
}

.l-cards {
    width: 100%;
    background-color: #faf1e8;
    padding: 120px 0;

    &__body {
        width: 100%;
        max-width: 1030px;
        margin: 0 auto;
    }

    &__list {
        width: 100%;
        position: relative;
        height: 300px;
    }
}

.l-card {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    padding: 12px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 1s, transform 1s;
    transform: translateY(20px);

    &.is-prev {
        transform: translateY(-37%) scale(0.88);
        z-index: 0;
    }

    &.is-mid {
        transform: translateY(-16%) scale(0.94);
        z-index: 1;
    }

    &.is-active {
        transform: translateY(0) scale(1);
        opacity: 1;
        z-index: 2;
    }

    &__left {
        width: 100%;
        padding: 20px 5%;

        .section-title {
            max-width: 440px;
            text-align: left;
        }
    }

    &__img {
    	width: 394px;
    	position: relative;
    	height: 0;
    	padding-bottom: 284px;
        flex-shrink: 0;

    	img {
    		position: absolute;
    		top: 0;
    		left: 0;
    		z-index: 1;
    		width: 100%;
    		height: 100%;
    	}
    }

    &--purple {
        background-color: $primary;
    }

    &--light {
        background-color: #fffdfb;
    }

    &--orange {
        background-color: $orange;
    }
}

// old styles

.home-only {

    &__top {
        border-bottom: 1px solid $gray_2;
        padding: 0 0 14px;
        margin: 0 0 16px;

        @media(min-width: $break_md) {
            padding: 0 0 33px;
            margin: 0 0 20px;
        }

        .section-title {
            max-width: 612px;
            margin: 0 auto 12px;

            @media(min-width: $break_md) {
                margin: 0 auto 16px;
            }
        }

        &--sec {
            margin: 0;
            padding: 0;
            border: none;
        }
    }

    &__body {

        > .h3 {
            max-width: 221px;
            margin: 0 auto;

            @media(min-width: $break_sm) {
                max-width: 100%;
            }
        }
    }

    &__bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 22px 0 0;

        @media(min-width: $break_md) {
            margin: 36px 0 0;
        }

        .h3 {
            width: 100%;
            border-bottom: 1px solid $gray_2;
            padding-bottom: 16px;
            margin-bottom: 24px;

            @media(min-width: $break_md) {
                padding-bottom: 26px;
                margin-bottom: 33px;
            }
        }
    }

    &__sub {
        color: $black;
        font-size: 15px;
        line-height: 1.2;

        @media(min-width: $break_md) {
            font-size: 18px;
        }
    }
}

.quotes {
    display: grid;
    grid-template-columns: 1fr;
    gap: 7px;
    list-style: none;
    padding: 0;
    margin: 24px 0 0;

    @media(min-width: $break_md) {
        align-items: flex-start;
       grid-template-columns: repeat(3, 1fr);
        gap: 12px;
    }

    &__item {
        background-color: $gray_1;
        border-radius: 24px;
        display: flex;
        flex-direction: column;
        padding: 16px;

        @media(min-width: $break_md) {
            padding: 25px 24px;

            &:nth-child(n + 4) {
                display: none;
            }
        }

        &-title {
            display: flex;
            align-items: center;
            gap: 8px;
            background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.3335 3.22232L2.08951 8.46401C3.63514 8.32961 4.86156 8.59842 5.76878 9.27043C6.67599 9.90884 7.2976 10.8329 7.63361 12.0425C7.93602 13.2185 7.98642 14.5625 7.78481 16.0746H1.3335V29.0276H13.7825V15.5705C13.7825 11.1689 12.7409 7.8424 10.6577 5.59116C8.57443 3.30632 5.46637 2.51671 1.3335 3.22232ZM18.2178 3.22232L18.9738 8.46401C20.5194 8.32961 21.7459 8.59842 22.6531 9.27043C23.5603 9.90884 24.1819 10.8329 24.5179 12.0425C24.8203 13.2185 24.8707 14.5625 24.6691 16.0746H18.2178V29.0276H30.6668V15.5705C30.6668 11.1689 29.6252 7.8424 27.542 5.59116C25.4587 3.30632 22.3507 2.51671 18.2178 3.22232Z' fill='%239C9FA2'/%3E%3C/svg%3E%0A");
            background-repeat: no-repeat;
            background-position: right top 4px;
            background-size: 32px 32px;
            padding-right: 40px;
            border-bottom: 1px solid #FFFFFF;
            padding-bottom: 5px;

            @media(min-width: $break_md) {
                background-size: 40px 40px;
                background-position: right top 8px;
                gap: 12px;
                padding-bottom: 13px;
            }
        }

        &-text {
            padding-top: 8px;
            font-size: 13px;
            line-height: 1.3;

            @media(min-width: $break_md) {
                font-size: 15px;
                padding-top: 13px;
            }
        }

        &-avatar {
            width: 40px;
            height: 40px;

            @media(min-width: $break_md) {
                width: 56px;
                height: 56px;
            }

            img {
                width: 100%;
                height: 100%;
            }
        }

        &-name {
            font-weight: 700;
            font-size: 15px;
            line-height: 1.4;

            @media(min-width: $break_md) {
                font-size: 18px;
            }
        }
    }
}

.link-arrow {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;

    &--big {
        font-size: 15px;
        font-family: $fontSec;
        font-weight: 600;

        @media(min-width: $break_sm) {
            font-size: 18px;
        }

        @media(min-width: $break_lg) {
            font-size: 24px;
        }
    }

    &--mid {
        font-size: 15px;
        font-family: $fontSec;
        font-weight: 600;

        @media(min-width: $break_sm) {
            font-size: 18px;
        }
    }

    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 16px;
        height: 16px;
        transform: translateY(1px);

        @media(min-width: $break_md) {
            width: 24px;
            height: 24px;
        }

        svg {
            width: 100%;
            height: 100%;
        }
    }

    &:hover {
        color: $hover_green;
    }

    &:active, &:focus-visible {
        color: $primary ;
    }

    &.disabled {
        color: $gray_3;
        pointer-events: none;
    }

}

.quizzes-slider {

    .section-title {
        margin: 0 0 24px;

        @media(min-width: $break_md) {
            margin: 0 0 56px;
        }
    }

    &__swiper {
        width: calc(100% + 32px);
        margin: 0 0 0 -16px;
        padding: 0 16px;

        @media(min-width: $break_xm) {
            width: 100%;
            margin: 0;
            padding: 0;
        }
    }

    .quiz-card {
        max-width: 440px;
    }

    .swiper-scrollbar {
        max-width: 822px;
        margin: 37px auto 0;
        position: relative;
        height: 4px;

        @media(min-width: $break_sm) {
            height: 6px;
            margin: 47px auto 0;
        }
    }

    .swiper-scrollbar-drag {
        background-color: $primary;
        top: -2px;
        height: 8px;
        cursor: pointer;
        transition: background-color 0.15s ease-in;

        @media(min-width: $break_sm) {
            height: 12px;
            top: -3px;
        }

        &:hover {
            background-color: $hover_green;
        }
    }

}

.quiz-card {
    display: flex;
    flex-direction: column;
    background-color: $gray_1;
    border-radius: 24px;
    padding: 4px;
    width: 100%;
    margin: 0 auto;
    border: 1px solid transparent;
    transition: background-color 0.15s ease-in, border-color 0.15s ease-in;

    &__top {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 12px;
        padding: 12px 12px 24px 12px;

        @media(min-width: $break_md) {
            padding: 12px 12px 36px 12px;
        }
    }

    &__title {
        font-weight: 700;
        color: $black;
        font-size: 15px;
        line-height: 1.3;

        @media(min-width: $break_sm) {
            font-size: 19px;
        }

        @media(min-width: $break_md) {
            font-size: 24px;
        }
    }

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        flex-shrink: 0;

        @media(min-width: $break_md) {
            width: 56px;
            height: 56px;
        }

        svg {
            width: 100%;
            height: 100%;
        }
    }


    &__img {
        display: block;
        width: 100%;
        position: relative;
        height: 0;
        padding-bottom: 71%;
        border-radius: 22px;
        overflow: hidden;

        @media(min-width: $break_sm) {
            padding-bottom: 69.4%;
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.15s ease-in;
        }
    }

    .desktop-device & {
        &:hover {
            border-color: $black;
            background-color: $white;
        }
    }
}

.report-section {
    padding-bottom: 24px;
    margin-left: -16px;
    margin-right: -16px;
    position: relative;
    min-height: 315px;
    margin-bottom: 65px;

    @media(min-width: $break_md) {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 8.7vw;
    }

    @media(min-width: $break_lg) {
        margin-left: 0;
        margin-right: 0;
    }

    @media(min-width: $break_xxxl_container) {
        margin-bottom: 166px;
    }

    &-title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-size: 28px;
        font-weight: 700;
        color: #fff;
        line-height: 1.25;
        position: absolute;
        z-index: 2;
        top: -57px;
        left: 0;

        @media(min-width: $break_md) {
            font-size: 36px;
            top: 65px;
        }

        @media(min-width: $break_lg) {
            font-size: 48px;
        }

        span {
            background-color: $primary;
            border-top-right-radius: 32px;
            border-bottom-right-radius: 32px;
            padding: 0 16px 4px 16px;

            @media(min-width: $break_md) {
                padding: 0 32px 4px 16px;
            }
        }
    }

    &__pic {
        display: block;
        width: 100%;
        position: relative;
        height: 0;
        padding-bottom: 87.5%;
        border-radius: 24px;

        img {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: inherit;
        }

        @media(min-width: $break_xm) {
            padding-bottom: 47.5%;
        }


        @media(min-width: $break_md) {
            border-radius: 40px;
            padding-bottom: 45%;
        }
    }

}

.report-author {
    border-bottom: 1px solid #E3E3E3;
    padding: 15px 0 12px;

    @media(min-width: $break_md) {
        border-top: 1px solid #E3E3E3;
        padding: 35px 2px;

        .text-2 {
            line-height: 1.325;
        }
    }

    &__avatar {
        width: 72px;
        height: 72px;
        border-radius: 100%;
        overflow: hidden;

        @media(min-width: $break_md) {
            width: 100px;
            height: 100px;
        }

        @media(min-width: $break_lg) {
            width: 120px;
            height: 120px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__info {
        display: flex;
        gap: 12px;
        margin-bottom: 12px;

        @media(min-width: $break_md) {
            margin-bottom: 19px;
        }

    }

    &__body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media(min-width: $break_md) {
            justify-content: flex-start;
            gap: 8px;
            padding: 4px 0 0;
        }

        svg {
            display: block;
            width: 24px;
            height: 24px;

            @media(min-width: $break_md) {
                width: 36px;
                height: 36px;
            }

            @media(min-width: $break_lg) {
                width: 48px;
                height: 48px;
            }
        }
    }

    &__name {
        font-weight: 700;
        font-size: 18px;
        color: $black;

        @media(min-width: $break_md) {
            font-size: 21px;
        }

        @media(min-width: $break_lg) {
            font-size: 24px;
        }
    }

    &__ul {
        display: flex;
        flex-direction: column;
        gap: 7px;
        padding: 0;
        margin: 0;

        li {
            font-size: 13px;
            line-height: 1.2;
            color: $black;

            @media(min-width: $break_sm) {
                font-size: 15px;
            }

            @media(min-width: $break_md) {
                font-size: 18px;
            }

            span {
                color: $gray_3;
            }
        }
    }
}

.truth-section {
    display: flex;
    gap: 8px;
    margin: 14px 0 22px;
    font-size: 13px;
    line-height: 1.3;
    align-items: center;
    justify-content: center;

    svg {
        width: 48px;
        height: 48px;
    }

    @media(min-width: $break_md) {
        font-size: 15px;
        gap: 12px;
        margin: 19px 0 32px;

        svg {
            width: 56px;
            height: 56px;
        }
    }

    @media(min-width: $break_lg) {
        font-size: 18px;
    }

    &--sec {
        margin: 0;
    }
}

.default-section {
    margin: 0 auto 88px;

    @media(min-width: $break_md) {
        margin: 0 auto 9.8vw;
    }
    @media(min-width: $break_xxxl_container) {
        margin: 0 auto 188px;
    }

    &--mob-full {
        margin: 0 -16px 88px;

        @media(min-width: $break_md) {
            margin: 0 auto 9.8vw;
        }
        @media(min-width: $break_xxxl_container) {
            margin: 0 auto 188px;
        }
    }

    &.report-section {
        margin: 0 -16px 64px;

        @media(min-width: $break_md) {
            margin: 0 auto 9.6vw;
        }
        @media(min-width: $break_xxxl_container) {
            margin: 0 auto 165px;
        }
    }

}
